<p><%= @resource.email %>様</p>

<p>パスワード変更のリクエストを承りました。下記のリンクよりお手続きお願いいたします。</p>

<p><%= link_to 'パスワードの変更はこちら', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>こちらのメールにお心当たりのない方は、変更は行わずこちらのメールを削除してください。</p>
<p>上記のリンクにアクセスし、変更を行わない限りパスワードが変更されることはありません。</p>
