<h1><%= Report.human_attribute_name(:editing_report) %></h1>
<%= render 'form', report: @report %>

<%= link_to t('views.common.show'), @report %> |
<%= link_to t('views.common.back'), reports_path %>
